#releases_container {
  position: relative;
  display: block;
  width: 100%;
}

#releases_title {
  position: relative;
  margin-bottom: 10px;

  display: block;
  width: 100%;

  font-weight: bold;
  font-size: 100%;
  text-align: left;
}