#message_form_container {
  position: relative;

  display: block;
  width: 100%;
}

#message_form_container form {
  display: block;
  border: 2px solid black;
  padding: 0 10px 0 10px;
  border-radius: 10px;
}

#message_form_container table {
  position: relative;
  width: 100%;
}

.message_form_label {
  width: 20%;
  text-align: left;
  font-size: small;
  font-weight: bold;
}

.message_form_input {
  width: 60%;
  padding-right: 10%;
}

#message_form_container input, #message_form_container textarea{
  display: block;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: 1.5px solid gray;
}

#message_form_container textarea {
  resize: none;
  overflow: scroll;
  font-family: "Rubik";
}

#message_form_container td{
  padding: 5px 0 5px 0;
  vertical-align: top;
}