#social_media_bar {
  display: flex;
  width: 100%;
}

#social_media_bar .plugin_box_container{
  position: relative;
  margin: 0 1.5% 0 1.5%;

  height: 0px;
  width: 100%;
  padding-bottom: 30%;
}

#social_media_bar .plugin_box{
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  background-color: gray;
  color: white;
}