#navtab_mini_container {
  position: fixed;
  top: 0px;
  padding: 10px 0 10px 0;

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: black;
  z-index: 10;
}

#navtab_mini {
  position: relative;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  align-items: center;
}

#navtab_mini_search_field {
  position: relative;
  margin: 0px;
  
  display: block;
  width: 100px;
  height: 20px;

  border-radius: 10px;
  border: none;
  outline: none;
}

#navtab_mini form {
  display: flex;
  align-items: center;
  width: 100px;
}

#navtab_mini form img {
  position: relative;
  margin-left: -15px;

  display: block;
  width: 10px;
  height: 10px;

  object-fit: cover;
}

.navtab_mini_option {
  position: relative;
  margin: 10px;

  font-size: 12px;
  color: white;

  display: block;
  min-width: 80px;
  max-width: 150px;
}

.navtab_mini_icon {
  position: relative;
  display: flex;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

#navtab_mini a {
  text-decoration: none;
  color: white
}