#header_logo_container {
  position: relative;
  top: 0px;
  width: 100%;
  z-index: 2;
}

#header_logo {
  margin: auto;

  display: flex;
  justify-content: center;
  height: 100px;
  width: 200px;
}

#org_logo {
  height: 50%;
}

#org_logo_container, #header_logo_text {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header_logo_text {
  height: 100%;
  margin-left: 2%;

  text-align: left;
  font-weight: bold;
  color: white;
}