#side_bar_container {
  position: relative;
  margin-top: 50px;
  margin-left: 4%;

  display: flex;
  flex-wrap: wrap;
  width: 35%;
  max-width: 150px;

  justify-content: center;
  align-items: center;
}