.execom_container {
  display: block;
  width: 100%;
  margin-top: 20px;
}

#execomcard_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.execomcard {
  width: 22%;
}

#execom_title {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

#year {
  font-size: small;
  margin-bottom: 20px;
}
